body {
  background-color: #eaeaea;
  font-family: sans-serif;
}

p {
  font-family: monospace;
  font-size: 2em;
}

form label, form textarea {
  display: block;
  font-weight: bold;
}

form textarea {
  width: 100%;
  height: 25vh;
  resize: vertical;
}

form * {
  margin-top: 1em;
  margin-bottom: 1em;
}
